<h1> {{sayHello('Jonathan Doe')}} </h1>
<p>Date/Time - {{current_time}}</p> <!--This is called interpolation syntax-->


<div>
    <input [(ngModel)]="newAppointmentTitle" placeholder="appointment description"/>
    <input  [(ngModel)]="newAppointmentDate" type="date"  placeholder="appointment date"/>
    <button (click)="addAppointment()">Add appointment</button>
</div>

<ul>
    <li  *ngIf="appointments.length == 0" >Hooray... no tasks left... create some more </li>
    <li *ngFor="let app of appointments; index as i">
        [{{i}}] {{app.title}} at {{app.date | date:'dd-MM-yyyy'}}
        <button (click)="doneAppointment(i)"> done </button>
    </li>
</ul>


<p  *ngIf="done_appointments.length > 0" >----- done appointments ---- </p>
<table *ngIf="done_appointments.length > 0" border="1px">
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Date</th>
        <th>Action</th>
    </tr>
    <tr *ngFor="let d of done_appointments; index as i ">
        <td>{{i}}</td>
        <td>{{d.title}}</td>
        <td>{{d.date}}</td>
        <td><button (click)="redoTask(i)">redo</button></td>
    </tr>
</table>